body
{
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.answer
{
  font-weight: bold;
  font-size: 160px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.answer a
{
  text-decoration: inherit;
  color: inherit;
}

.teaser
{
  text-align: center;
  font-size: 20pt;
  color: #888;
  padding-bottom: 5em;
}

/* http://colorschemedesigner.com/#0Z11Tw0w0w0w0 */

.section
{
  border-top: solid 3px #a67000;
  padding: 2em;
  background-color: #ffd273;
  color: #734000;
  font-family: Arial;
}

.section > h2
{
  color: #a67000;
  font-size: 3em;
  text-transform: uppercase;
  font-family: Arial;
  letter-spacing: 0.5px;
}

.section h3
{
  color: #a67000;
  border-bottom: solid 1px #a67000;
  font-family: Arial;
}

.section :link, .section :visited
{
  color: #a67000;
  font-weight: bold;
  text-decoration: none;
}

.section :link:hover, .section :link:active
{
  text-decoration: underline;
}

.rest
{
  display: none;
}
