body
{
  background-color: white;
}

.answer
{
  color: black;
  font-weight: bold;
  font-size: 160px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 300px;
}

.answer a
{
  text-decoration: inherit;
  color: inherit;
}

#teaser
{
  text-align: center;
  font-size: 20pt;
  color: #bbb;
}

.noshow
{
  display:none;
}
