body
{
  background-color: white;
}

.answer
{
  color: black;
  font-weight: bold;
  font-size: 120pt;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 200px;
  /*
  padding-bottom: 400px;
  */
}

.answer a
{
  text-decoration: inherit;
  color: inherit;
}

.coming_soon
{
  font-size: 20pt;
  color: #ddd;
}

#main, #more_info
{
  display:none;
}

/*
#more_info
{
  border: red double 10px;
  background-color: blue;
}
*/
