%header
  .answer
    YES

#teaser
  Wait a minute. Really?

%div
  %h2 And why should I care?
  #impacts
    #economic
      #not_better_yielding_compared_to_normal_hybrids
      #intellectual_property
    #environmental
      #more_roundup_and_fewer_weeds_except_super_weeds
      #more_bt_and_fewer_bugs_except_super_bugs
      #contamination_of_non_gmo_seed_stock
        #alfalfa
        #sugar_beets
    #health
      #allergies_maybe
      #largely_unknown

%div
  %h2 OK, but how do you know my food is GMO?
  %p
    In the U.S., most processed food contains ingredients derived from
    genetically modified organisms (GMOs).
  #gmo_list
    %ul
      %li Soybeans (roundup-ready)
      %li Corn (roundup-ready, Bt)
      %li Cotton/cottonseed oil (Bt)
      %li Alfalfa (temporarily banned from 2008-2010)
      %li Hawaiian papaya (virus resistance)
      %li Tomatoes (better shipping/storage qualities) (no longer marketed)
      %li Rapeseed/canola (roundup-ready)
      %li Sugar cane (more sucrose, pesticide resistance)
      %li Sugar beet (roundup-ready)
      %li Rice (vitamin A)
      %li Squash (virus resistance)
      %li Sweet Peppers (resistance to virus)
      %li Potato (Bt? virus resistance?)
      %li Flax (roundup-ready)
      %li Radish (roundup-ready)
    =link_to 'Source', 'http://en.wikipedia.org/wiki/Genetically_modified_food'

